.form-item {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    outline:none;
    box-shadow:none;
    width: 100%;
    padding: 20px 10px; 
    line-height: 28px;
}

.btn-submit {
    text-align: right;
    padding-top: 15px;
}