<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  
        <div class="input-group ">
        <input id="name"  class="form-item" type="text" formControlName="name" placeholder="Enter your name">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                        <div *ngIf="name.errors.required">
                        Name is required.
                        </div>
             </div> 

        </div>
        <div class="input-group ">
                <input id="email" class="form-item" type="text" formControlName="email" email 
                placeholder="Enter your email" [readonly]="isEditContact">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                        <div *ngIf="email.errors.required; else emailName">
                        Email is required.
                        </div>
                        <ng-template #emailName>
                                    Invalid Email Address
                        </ng-template>
             </div>
         </div>
         
         <div class="input-group ">
                       
                       <!-- <select name = "sel1" id="sel1" formControlName="code" aria-placeholder="areacode" class="areacode">
                                        
                                        <option *ngFor="let codes of areaCode" value= {{codes.id}}
                                        [selected]="code">
                                           {{codes.name}}
                                        </option>
                                      </select> -->
                                      <p-dropdown [options]="areaCode"  class="areacode"
                                      formControlName="code"
                                      optionLabel="name" [showClear]="true"></p-dropdown>
     
                <input id="phone" class="form-item form-item-custom" maxlength="15" type="text" formControlName="phone" placeholder="Enter your phone" onkeyup="this.value=this.value.replace(/[^\d]/g,'')"> 
               
         </div>
         
         
         <div class="btn-submit">
         <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">Submit</button>
            </div>
        
         

</form>