<div class="row" >
        <div class="col-xs-6 col-sm-6">
            <span> Contacts </span>
        </div>
        <div class="col-xs-6 col-sm-6">
                <span> <button type="button" class="btn btn-primary">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Contact</button></span>
        </div>

</div>

<div class="row">
              <div class="card" style="width: 30rem;">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item pos-row">
                            <div class="pos-col-1"> <i class="card-img fa fa-user-circle-o fa-4x" aria-hidden="true"></i></div>
                            <div class="pos-col-2"> 
                                    <div> Babu Suriyanarayanan</div>
                                    <div> babu28537@gmail</div>
                                    <div> +91 98329382989</div>
                            </div>
                            <div class="pos-col-3"> 
                                    <div><ui-switch [checked]="false"></ui-switch> </div>
                                    <div><button type="button" class="btn btn-primary">Edit</button> </div>
                            </div>


                      </li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                  </div>
    </div>
