<nav class="nav flex-column pos-center">
        <span class="nav-link pos-pointer" (click)="filterContacts('all')" [ngClass]="addrliked ? 'pos-liked':'pos-notliked'"> 
          <i [ngClass]="addrliked ? 'fa fa-address-card fa-2x':'fa fa-address-card-o fa-2x'" aria-hidden="true"></i> 
        </span>
        <span class="nav-link pos-pointer" (click)="filterContacts('favorite',contact)" [ngClass]="liked ? 'pos-liked':'pos-notliked'">
           <i [ngClass]="liked ? 'fa fa-star fa-2x':'fa fa-star-o fa-2x'" aria-hidden="true"></i>
           </span>
          
       
      </nav>