.pos-center {
    background-color: #e2beac;
    
  }

  .pos-pointer {
    cursor: pointer;
    text-align: center;
  }

  .pos-liked {
    color: Mediumslateblue;
  }
  .pos-notliked {
    color: Dodgerblue;
  }

  @media only screen and (max-width: 575.98px) {
    .pos-center {
      width: 100%;
      display: inline-block;
      padding-left: 0px;
    }

    .pos-pointer {
      display: inline-block;
    }
    .mobile-plus {
      display: inline-block;
    }

  } 

  @media only screen and (min-width: 576px) {
    .pos-center {
      min-height: 90vh;
      // max-width: 85px;
    }

    .mobile-plus {
      display: none;
    }

  } 

