.pos-center {
    margin: auto;
    width: 50%;
    background-color: #e2beac;
    padding: 10px;
  }

  .pos-pointer {
    cursor: pointer;
  }

  .pos-liked {
    color: Mediumslateblue;
  }
  .pos-notliked {
    color: Dodgerblue;
  }

  @media only screen and (max-width: 600px) {
    .pos-center {
      width: 100%;
      display: inline-block;
      padding-left: 0px;
    }

    .pos-pointer {
      display: inline-block;
    }

  } 