 .footer {
     display: inline-block;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: solid 1px;
    padding: 5px;
    background-color:#343a40;

    .text-font {
        color:#777;
    }
} 

@media only screen and (max-width: 575.98px) {
    .footer {
        display: none;
    } 

}



